<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>basketballDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>121FD5EF1D1C9AF7004E16A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>121FD6031D1C9AF7004E16A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>121FD60E1D1C9AF7004E16A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
